@import "tailwindcss";

@theme {
  --color-header-light: #373b53;
  --color-invoiceHeaderText-light: #0c0e16;
  --color-invoicePText-light: #888eb0;
  --color-paidButton-light: #33d69f;
  --color-pendingButton-light: #ff8f00;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "League Spartan", sans-serif;
  background-color: #f8f8f8;
  transition: all 0.3s ease;
}

html.dark body {
  background-color: #141625;
}
